<div  class="container">

<!-- modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      	
      	<div [hidden]="itemCreateFormSubmitted">
      		
      	
        <form *ngIf="formActive" 
        (ngSubmit)="onSubmit()"
        #itemCreateForm="ngForm">
        	<!-- name -->
        	<div class="form-group">
        		<label for="name">Name</label>
        		<input type="text" class="form-control" id="name" required
        		[(ngModel)]="item.name" name="name"
        		#name="ngModel"
        		/>
        		<!-- for error message -->
        		<div [hidden]="name.valid || name.pristine"
        		class="alert alert-danger">
        		Name is required
        		</div>
        		<!-- for error message -->
        		
        		
        		
        	</div>
        	<!-- ./name -->
        	
        	<!-- description -->
        <div class="form-group">
        		<label for="description">Description</label>
        		<input type="text" class="form-control" id="description"
        		 required 
        		 [(ngModel)]="item.description" name="description"
        		 
        		 #description="ngModel"/>
        
        
        <!-- for error message -->
        		<div [hidden]="description.valid || description.pristine"
        		class="alert alert-danger">
        		Description is required
        		</div>
        <!-- for error message -->
        	
        	</div>
        	<!-- ./description -->
        	
        	<!-- stored location -->
        <div class="form-group">
        		<label for="stored_location">Stored Location</label>
        		<input type="text" class="form-control" 
        		id="stored_location" 
        		required
        		[(ngModel)]="item.stored_location" name="stored_location"
        		#stored_location="ngModel"
        		 />
        		 
         <!-- for error message -->
        		<div [hidden]="stored_location.valid || stored_location.pristine"
        		class="alert alert-danger">
        		Stored Location is required
        		</div>
        <!-- for error message -->
        
        	</div>
        
        	<!-- ./stored location -->
        	<button type="button" class="btn btn-default" 
      (click)="resetItemForm()">Reset</button>
      
        	<button type="submit" class="btn btn-primary"
        [disabled]="!itemCreateForm.form.valid">Save</button>
        
        </form>
</div><!-- ./form submitted flag -->

<div [hidden]="!itemCreateFormSubmitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ item.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Desc</div>
    <div class="col-xs-9 pull-left">{{ item.description }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Stored Location</div>
    <div class="col-xs-9 pull-left">{{ item.stored_location }}</div>
  </div>
  <br>
  <button class="btn btn-default" (click)="itemCreateFormSubmitted=false">Edit</button>
</div><!-- end submit message display -->



      </div>
      <div class="modal-footer">
      
        
        
      </div>
    </div>
  </div>
</div>
<!-- ./modal -->

<!--  edit modal -->
<div *ngIf="selectedItem">
<div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      	
      
        <form *ngIf="formActive" 
        (ngSubmit)="onSubmitEditForm()"
        #itemEditForm="ngForm">
        	<!-- name -->
        	<div class="form-group">
        		<label for="name">Name</label>
        		<input type="text" class="form-control" id="name" required
        		[(ngModel)]="selectedItem.name" name="name"
        		#name="ngModel"
        		/>
        		<!-- for error message -->
        		<div [hidden]="name.valid || name.pristine"
        		class="alert alert-danger">
        		Name is required
        		</div>
        		<!-- for error message -->
        		
        		
        		
        	</div>
        	<!-- ./name -->
        	
        	<!-- description -->
        <div class="form-group">
        		<label for="description">Description</label>
        		<input type="text" class="form-control" id="description"
        		 required 
        		 [(ngModel)]="selectedItem.description" name="description"
        		 
        		 #description="ngModel"/>
        
        
        <!-- for error message -->
        		<div [hidden]="description.valid || description.pristine"
        		class="alert alert-danger">
        		Description is required
        		</div>
        <!-- for error message -->
        	
        	</div>
        	<!-- ./description -->
        	
        	<!-- stored location -->
        <div class="form-group">
        		<label for="stored_location">Stored Location</label>
        		<input type="text" class="form-control" 
        		id="stored_location" 
        		required
        		[(ngModel)]="selectedItem.stored_location" name="stored_location"
        		#stored_location="ngModel"
        		 />
        		 
         <!-- for error message -->
        		<div [hidden]="stored_location.valid || stored_location.pristine"
        		class="alert alert-danger">
        		Stored Location is required
        		</div>
        <!-- for error message -->
        
        	</div>
        
        	<!-- ./stored location -->
        	<button type="button" class="btn btn-ddefault"
        (click)="onCancelEdit()">Cancel</button>
        
        	<button type="submit" class="btn btn-primary"
        [disabled]="!itemEditForm.form.valid">Save</button>
        
        </form>


      </div>
      <div class="modal-footer">
      
        
        
      </div>
    </div>
  </div>
</div>
</div>
<!-- ./ edit modal -->


<!--  delete modal -->
<div *ngIf="selectedItem">
<div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitDeleteForm()">
        
        	<!-- ./stored location -->
        	<button type="button" class="btn btn-ddefault"
        (click)="onCancelDelete()">Cancel</button>
        
        	<button type="submit" class="btn btn-danger"
        >Delete</button>
        
        </form>


      </div>
     
    </div>
  </div>
</div>
</div>
<!-- ./ delete modal -->

<h3>Items</h3>
<div class="row">
	<button class="btn btn-primary" 
	(click)="showModal()"
	[disabled]="selectedItem"  >Create</button>
	
	
	<button [disabled]="!selectedItem" class="btn btn-info"
	(click)="showEditModal()" >Edit</button>
	<button [disabled]="!selectedItem"  class="btn btn-danger"
	(click)="showDeleteModal()" >Delete</button>

</div>

<div class="row"><div class="col-md-6">
	<hr>
<input #searchBox (keyup)="search(searchBox.value)" class="form-control" />	
<hr>
</div>

<!-- pagination -->
<div class="col-md-6">
	<nav aria-label="Page navigation">
  <ul class="pagination">
  	
    <li *ngIf="previous_link"  (click)="onPaginationPreviousLink()">
      <a href="{{previous_link}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">{{total_results}} records </a></li>
   
    <li *ngIf="next_link" (click)="onPaginationNextLink()">
      <a href="{{next_link}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

	</div>
	<!-- ./pagination -->
	
</div> 

<table class="table ">
	<thead >
		<tr><th>Name</th><th>Description</th><th>Stored Location</th></tr>
	</thead>
	
	<tbody>
		<tr *ngFor="let item of items " (click)="onSelectItem(item)"
		
		[class.selected]="item===selectedItem" >
			<td>{{item.name}}</td>
			<td>{{item.description}}</td>
			<td>{{item.stored_location}}</td>
			</tr>
	</tbody>
</table>
</div><!--./ container -->
